<!DOCTYPE html>
<html>
  <head>
    <title>CDPSfy Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CDPSfy Server</h1>
    <p>All actions are handled by API-REST</p>
  </body>
</html>
